.shapes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 30px;
	height: 30px;
}

.label {
	grid-column-start: 1;
  grid-column-end: 4;
	text-align: center;
}

.button {
	width: 30px;
	height: 30px;
}